.cscb-select-combo-wrapper {
  font-family: Arial;
  font-size: 12px;
  background-color: white;
  position: relative;
  display: inline-block;
  width: 100%;
  border: 1px solid #CCC; }
  .cscb-select-combo-wrapper .cscb-select-control-container {
    display: table; }
    .cscb-select-combo-wrapper .cscb-select-control-container > div {
      display: table-row; }
      .cscb-select-combo-wrapper .cscb-select-control-container > div > div:first-child {
        width: 100%;
        padding-right: 25px; }
      .cscb-select-combo-wrapper .cscb-select-control-container > div > div {
        display: table-cell; }
    .cscb-select-combo-wrapper .cscb-select-control-container input {
      margin-right: 0;
      border: none;
      width: 100%;
      padding-right: 19px; }
    .cscb-select-combo-wrapper .cscb-select-control-container .cscb-select-image {
      background-image: url("images/dropdown.gif");
      height: 21px;
      width: 19px;
      cursor: pointer;
      vertical-align: bottom;
      margin-bottom: 0px;
      position: absolute;
      right: 0; }
  .cscb-select-combo-wrapper div.cscb-select-popup {
    position: absolute;
    top: 22px;
    border-left: 1px solid #c0c0c0;
    border-right: 1px solid #c0c0c0;
    border-bottom: 1px solid #c0c0c0;
    z-index: 99999999;
    background-color: white;
    padding-top: 2px;
    padding-left: 2px;
    width: 100%; }
  .cscb-select-combo-wrapper div.cscb-select-list {
    overflow: auto;
    margin-bottom: 1px; }
  .cscb-select-combo-wrapper .cscb-select-popup ul {
    cursor: pointer;
    padding: 3px 0px 3px 0px;
    margin: 0;
    text-align: left;
    list-style: none;
    width: 100%; }
    .cscb-select-combo-wrapper .cscb-select-popup ul li:hover {
      background-color: #f0f0f0; }
  .cscb-select-combo-wrapper .cscb-select-popup-popup li {
    padding-left: 3px;
    margin-right: 3px;
    margin-left: 3px;
    white-space: nowrap; }
