$fa-font-path: "font-awesome/fonts" !default;
@import "font-awesome/scss/font-awesome";

@font-face {
    font-family: FontAwesome;
    src: url("font-awesome/fonts/fontawesome-webfont.ttf");
}
.cscb-select-combo-wrapper {
    font-size: 12px;
    background-color: #FFF;
    color:#000;
    position: relative;
    display: inline-block;
    width: 100%;
    border: 1px solid #CCC;
    //XXX Used to offset for the pop I think
    margin-bottom: -7px;
    .cscb-select-control-container{
        display:table;

        & > div{
            display:table-row;
            & > div:first-child{
                width: 100%;
                padding-right: 25px;
            }
            & > div{
                display:table-cell;
            }
        }
        input{
            margin-right: 0;
            border: none;
            width:100%;
            padding-right: 19px;
        }
        .cscb-select-image {
            @extend .fa-caret-down;
            background: linear-gradient(to bottom,
                rgba(237,237,237,0.65) 0%,
                rgba(183,183,183,0.78) 53%,
                rgba(145,145,145,0.9) 100%);
            font-family: FontAwesome;
            height: 100%;
            width: 19px;
            line-height: 2em;
            cursor: pointer;
            margin-bottom: 0px;
            position: absolute;
            right: 0;
            text-align: center;
        }
    }

    div.cscb-select-popup {
        position: absolute;
        //FIXME Needs a dynamic top
        top: 22px;
        border-left: 1px solid #c0c0c0;
        border-right: 1px solid #c0c0c0;
        border-bottom: 1px solid #c0c0c0;
        z-index: 99999999;
        background-color: white;
        padding-top: 2px;
        padding-left:2px;
        width: 100%;
    }

    div.cscb-select-list {
        overflow: auto;
        margin-bottom: 1px;
    }

    .cscb-select-popup ul {
        cursor: pointer;
        padding: 3px 0px 3px 0px;
        margin: 0;
        text-align: left;
        list-style: none;
        width: 100%;

        li:hover {
            background-color: #f0f0f0;
        }
    }

    .cscb-select-popup-popup li {
        padding-left: 3px;
        margin-right: 3px;
        margin-left: 3px;
        white-space: nowrap;
    }
}